[submodule "wp-content/plugins/denhaag-wordpress-plugin"]
	path = wp-content/plugins/denhaag-wordpress-plugin
	url = git@github.com:frameless/denhaag-wordpress-plugin.git
	ignore = dirty
[submodule "wp-content/plugins/pdc-base"]
	path = wp-content/plugins/pdc-base
	url = git@github.com:frameless/plugin-pdc-base.git
[submodule "wp-content/plugins/pdc-samenwerkende-catalogi"]
	path = wp-content/plugins/pdc-samenwerkende-catalogi
	url = git@github.com:OpenWebconcept/plugin-pdc-samenwerkende-catalogi.git
